name: sonar

on:
 push:
   branches: [ main ]

jobs:
 sonar:
   runs-on: windows-latest

   steps:
   - uses: actions/checkout@v2

   - name: Set up Python
     uses: actions/setup-python@v2
     with:
       python-version: '3.9'

   - name: Install dependencies
     run: |
       python -m pip install --upgrade pip

   -name: Dependency 2
    run: |
       pip install -r requirements.txt
   - name: Run tests
     run: |
       pytest --cov-report xml:coverage.xml --cov=myproject tests/
       pylint myproject/ > pylint-report.txt

   - name: SonarQube Scan
     uses: SonarSource/sonarqube-scan-action@v1
     with:
       projectKey: ${{ env.SONAR_PROJECT_KEY }}
       projectName: ${{ env.SONAR_PROJECT_NAME }}
       serverUrl: ${{ secrets.SONARQUBE_URL }}
       token: ${{ secrets.SONARQUBE_TOKEN }}
       options: '-Dsonar.sources=. -Dsonar.exclusions=**/tests/**,**/test_*,**/*test*,**/*_test*,**/*conftest*,**/*steps*,**/steps/**,**/features/**,**/migrations/** -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.python.pylint.reportPaths=pylint-report.txt'
     env:
       SONAR_PROJECT_KEY: Vedikaa_python
       SONAR_PROJECT_NAME: python
has context menu
